/* style.css 

  1.타이포그라피
    웹폰트: Open-Sans(영), 나눔고딕(한)
    메뉴, 푸터 정보: 15px 
    타이틀(h1 표제) - 36 ~ 38px
    섹션제목 32px
    본문 16px
  2.컬러: 메인컬러(포인트컬러)
    제목컬러: #222
    본문컬러: #666
*/
/* 초기화 */
*{
  margin: 0; 
  padding: 0;
  box-sizing: border-box;
}
h1, h2, h3, h4{
  color: #222;
}
p, a{
  color: #666;
  line-height: 2em;
}
html, body{ height: 100%;}
body{
  font-family: 'Open Sans', 'Nanum Gothic', sans-serif;
  overflow-x: hidden;
}
a{ text-decoration: none;}
ul{ list-style-type: none;}
.container{
  position: relative;
  max-width: 1200px;
  min-width: 768px;
  margin: 0 auto;
  /* border: 1px solid red; */
}
section{
  overflow: hidden;
  /* padding-bottom: 40px; */
}
section h2{ 
  margin-bottom: 1em;
  margin-top: 1em;
  font-size: 32px;
}

#main-header{
  position: absolute;
  left: 0; right: 0; top: 0;
  width: 100%;
  height: 80px;
  z-index: 99;
}
header h1 img{
  width: 190px;
}
header h1{
  position: absolute;
  left: 0px; top: 20px;
}
header #main-menu{
  position: absolute;
  right: 0; top: 30px;
  text-transform: uppercase;
}
#main-header {
  background: rgba(0,0,0,0.3);
  height: 80px;
}
header #main-menu ul li{
  display: inline-block;
  margin-right: 1em;
  margin-left: 1em;
}
header #main-menu ul li a{
  font-size: 15px;
  color: #fff;
}
header #main-menu ul li a:hover{
  opacity: 0.7;
}


/* 0.visual */
#visual{
  width: 100%;
  height: 100%;
  background: #ccc;
  background-image: url("../images/bg01-dark.jpg");
  background-size: cover;
  background-position: center center;
}
#visual .container{
  position: relative;
  height: 100%;
  /* border: 1px solid red; */
  
}
#visual .container .main-title{
  position: absolute;
  /* border: 1px solid red; */
  color: #fff;
  /* 텍스트 중앙 배치 */
  text-align: center;
  left: 50%; top: 50%;
  transform: translate(-50%, -50%);
}
#visual .main-title h2{
  color: #fff;
  font-size: 56px;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.3);
}
#visual .main-title p{
  color: #fff;
  font-size: 28px;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.3);
}


/* 1.section - Blackfin(브랜드 소개) */
#brand{
  margin-top: 100px;
}
#brand .container{
  text-align: center;
  padding-left: 15%;
  padding-right: 15%;
}


/* 2.section - Product(제품 라인업) */
#product{
  margin-top: 100px;
}
#product h4{
  font-size: 18px;
  font-weight: normal;
}
#product .container{
  text-align: center;
}
#product .container .products{
  width: 100%;
}
#product .container ul.products li{
  width: 32.33%;
  float: left;
  border: 1px solid #ddd;
}
#product .container ul.products li{
  margin-right: 1.5%;
  padding: 1em;
}
#product .container ul.products li:last-child{
  margin-right: 0;
}
/* 효과 */
#product .container ul.products li img{
  transform: scale(0.8);
  transition: 0.4s;
}
#product .container ul.products li:hover img{
  transform: scale(1);
}
#product .products a{
  display: block;
  /* border: 1px solid red; */
}

/* 3.section - Latest News */
#news{
  margin-top: 100px;
}
#news .container{
  text-align: center;
}
#news h4{ 
  font-size: 28px;
  line-height: 360px;
  color: #fff;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.3);
}
#news .container ul.news-list li{
  border: 1px solid #ddd;
  width: 49.25%;
  height: 360px;
  margin-right: 1.5%;
  float: left;
}
#news .container ul.news-list li:last-child{
  margin-right: 0;
}
/* 배경이미지 가변 틀 */
#news .container ul.news-list li:first-child{
  background: #666;
  background-image: url('http://placeimg.com/640/480/any/grayscale');
}
#news .container ul.news-list li:last-child{
  background: #666;
  background-image: url('http://placeimg.com/640/480/people/grayscale');
}

/* 4.section - Shop(지점, 판매처) */
#shop{
  margin-top: 100px;
  height: 500px;
  background: #ccc;
  /* 
    가로세로 16:9, 폭1200이상의 이미지 
    1920 x 1080(HD) 권장
  */
  background-image: url('../images/section-bg.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
}
#shop h2{ 
  height: 0;
  overflow: hidden;
}
#shop .container{
  text-align: center;
}
.btn-normal{
  display: inline-block;
  font-size: 2em;
  line-height: 0;
  padding: 32px 64px;
  border: 2px solid rgba(255,255,255,1);
  color: #fff;
  transition: 0.4s;
}
.btn-normal:hover{
  border: 2px solid rgba(255,255,255, 1);
  color: rgba(0,0,0,0.8);
  background: rgb(255,255,255,1);
}
#shop .container .btn-normal{
  margin-top: 160px;
}

/* 5.section - instagram(SNS) */
#sns{
  margin-top: 100px;
  text-align: center;
}
#sns ul li{
  width: 20%;
  float: left;
}
#sns ul li img{ width: 100%;}
#sns ul li:hover img{
  opacity: 0.8;
}

/* footer */
#main-footer{
  text-align: center;
  padding: 50px 0;
  background: #efefef;
  margin-top: 100px;
}
#main-footer .footer-logo{

}
#main-footer .footer-logo a img{ width: 100px;}
.footer-text{
  font-size: 15px;
}